@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
 
}

.box-shadoww {
  box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
}

.transition-1 {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}



